.customLink {
    color: rgba(235, 81, 72, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    margin-left:5px;
}
.customLink_register {
    color: rgba(21, 44, 91, 1);
    font-weight:700 !important;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    margin-left:5px;
}
.swiper-wrapper {
  transition-timing-function: linear !important;
}


/* هذا الجزء يضمن التوقف الفوري عند التوقف بالماوس */
.swiper:hover .swiper-wrapper {
  animation-play-state: paused;
}

.mousePointer{
    cursor: pointer;
}


.swiper-button-next,
.swiper-button-prev {
  background-color: #3252DF !important;
  color: white !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important; 
  top: auto !important; 
  bottom: 55px !important; 
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: bold;
}

.swiper-button-next {
  right: 50% !important;
}
.swiper-button-prev {
  left: 60% !important; 
}