.customLink {
    color: rgba(235, 81, 72, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    margin-left:5px;
}
.customLink_register {
    color: rgba(21, 44, 91, 1);
    font-weight:700 !important;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    margin-left:5px;
}